body {
  font: 14px monospace;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  border-width: 0px;
  float: left;
  font-size: 2.5rem;
  height: 1.5em;
  width: 1.5em;
  margin: 0px;
  padding: 0;
  text-align: center;
}

.square.a {
  background-color: rgba(0, 0, 0, 0.2);
}

.square.b {
  background-color: rgb(0, 0, 0, 0.4);
}

.square.win.a {
  background: rgba(0, 98, 7, 0.2);
}

.square.win.b {
  background: rgba(0, 98, 7, 0.4);
}

.square.hover {
  color: gray;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin: 0px;
  font-size: 20px;
  text-align: center;
  display: center;
}

.game-board {
  margin-top: 20px;
}

.game-button {
  border: none;
  font-size: 20px;
  margin: 3px;
}